body {
    background-color: rgb(56, 62, 84);
}

.header {
    position: relative;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
    background-image: url('images/car_header.png');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-bottom: 5px solid #000000;
}

.title {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90px;
    color: white;
    text-shadow: 1px 1px 5px black;
    margin-top: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

.catchphrase {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 5px black;
    top: 120px;
    left: 0;
    right: 0;
    text-align: center;
}

.icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 180px;
    left: 0;
    right: 0;
    text-align: center;
    width: 125px;
    background-color: blue;
    border: 5px solid black;
    border-radius: 50%;
}


.icon img {
    mix-blend-mode: multiply;
    height: 100px;
}

#main .inputs {
    // background-color: green;
    // position: relative;
    margin: 70px auto;
    padding: 40px;
    border: 3px solid black;
    border-radius: 25px;
    // display: grid;
    // grid-template-rows: 1fr repeat(2, 1fr) 1.5fr;
    // grid-template-columns: repeat(3, 1fr);
    // grid-gap: 20px;
    width: 80%;
    // height: 50px;
    /* set width of parent div */
    // margin: 0 auto;
    /* center div horizontally */

    & .input-title {
        // border: 1px solid black;
        // border-radius: 20px;
        // grid-column: 1/4;

        & p {
            text-align: center;
            color: white;
        }

        & h2 {
            text-align: center;
            color: white;
            margin-bottom: 20px;
        }

        & h3 {
            text-align: center;
            color: white;
            margin: 0 auto;
        }
    }

    & .form-inputs {
        // grid-column: 1/4;
        text-align: center;


        & .form-select {
            padding: 10px 20px 10px 20px;
            font-size: 20px;
            margin: 30px 0 35px 0;
        }

        & .form-control {
            width: 300px;
            text-align: center;
            margin: 0 auto;
        }
    }

    & .btn {
        width: 200px;
        margin: 0 auto;
        display: inline;
    }

    & .buttons {
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        text-align: center;
        margin-top: 20px;

        & .btn {
            width: 200px;
            height: 55px;
            margin: 10px;
            display: inline;
        }

    }
}

#main .provided_inputs {
    display: grid;
    // grid-template-rows: 1fr repeat(2, 1fr) 1.5fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 40px;

    & label {
        color: rgb(143, 168, 0);
    }


    &-1 {
        background-color: rgb(221, 221, 221);
        // grid-template-columns: 1/2;
        border: 2px solid black;
        padding: 10px;
        border-radius: 5px;
        color: black;
    }
}

.custom-select {
    background-color: grey;
    /* change to desired background color */
    color: white;
}

.btn-text {
    font-size: 25px;
    margin: 10px auto;
    margin-bottom: 0;
    width: 80%;
    border-radius: 20px
}

.btn-loading {
    background-color: #7a7a7a;
    color: white;
    cursor: progress;
}

.btn-loading:after {
    content: "";
    animation: spin 0.5s linear infinite;
    border: 2px solid white;
    border-top-color: transparent;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom: 2px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#analysis_template {
    margin: 70px auto;
    text-align: center;
}

.analysis_container {
    display: grid;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
    border: 3px solid black;
    border-radius: 25px;
    grid-template-rows: 0.1fr 0.1fr repeat(7, 0.25fr);
    grid-template-columns: repeat(12, 0.5fr);
    grid-gap: 20px;
    width: 90%;
    height: 900px;
    max-width: 1300px;
    min-width: 1250px;

    & .model-header {
        grid-column: 1/13;
        grid-row: 1/2;

        & h2 {
            text-align: center;
            color: white;
            margin: 0 auto;
        }

    }

    & #recommendation {
        grid-column: 1/13;
        grid-row: 2/3;
        font-size: 20px;
        text-align: center;
        color: white;
        margin: 0 auto;
    }

    & .car_parameters_container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        border-radius: 10px;
        background-color: lightblue;
        grid-column: 1/5;
        grid-row: 4/10;
        text-align: center;
    }

    & .car_image_container {
        display: flex;
        // justify-content: center;
        align-items: flex-end;
        grid-column: 1/4;
        grid-row: 6/9;
        text-align: center;


        & img {
            width: 65%;
            height: 100%;
            mix-blend-mode: multiply;
            border-radius: 10px;
            color: white;

        }
    }

    & #input_car_manufacturer_model_type {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1/5;
        grid-row: 4/6;
        font-size: 50px;
        font-weight: bolder;
    }

    & #inputted_car_year {
        grid-column: 3/5;
        grid-row: 6/7;
    }

    & #inputted_car_miles {
        grid-column: 3/5;
        grid-row: 7/8;
    }

    & #inputted_car_transmission {
        grid-column: 3/5;
        grid-row: 8/9;
        text-transform: capitalize;
    }

    & #inputted_car_cylinders {
        grid-column: 1/3;
        grid-row: 9/10;
        text-transform: capitalize;
    }

    & #inputted_car_condition {
        grid-column: 3/5;
        grid-row: 9/10;
        text-transform: capitalize;
    }

    #inputted_car_year,
    #inputted_car_miles,
    #inputted_car_transmission,
    #inputted_car_cylinders,
    #inputted_car_condition {
        background-color: rgb(145, 145, 202);
        font-size: 30px;
        text-align: center;
        align-items: center;
        font-weight: bolder;
        border: 2px solid black;
        border-radius: 10px;
        margin: 5px;
    }


    & .actual_price {
        grid-column: 1/4;
        grid-row: 3/4;
        border-radius: 10px;
    }

    & .predicted_price {
        grid-column: 4/7;
        grid-row: 3/4;
        border-radius: 10px;
    }

    & .car_value_assessment {
        grid-column: 7/10;
        grid-row: 3/4;
        border-radius: 10px;
    }

    & .car_anomoly_assessment {
        grid-column: 10/13;
        grid-row: 3/4;
        border-radius: 10px;
    }

    & .predicted_price,
    .actual_price,
    .car_value_assessment,
    .car_anomoly_assessment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 3px solid black;
        border-radius: 5px;
        font-weight: bold;
        font-size: 30px;
        color: black;
        border: 2px solid white;
        border-radius: 10px;
        background-color: rgb(98, 98, 98);
        padding: 5px;

        & .label {
            font-size: 18px;
            text-align: center;
            margin-bottom: 0;
        }

        & .label_explanation {
            font-weight: normal;
            font-size: 14px;
            text-align: center;
            font-style: italic;
        }
    }

    & .PD_model {
        grid-column: 5/10;
        grid-row: 4/9;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
    }

    & .PD_model_explanation {
        padding: 10px;
        color: white;
        grid-column: 5/10;
        grid-row: 9/10;
        border: 2px solid white;
        border-radius: 10px;
        text-align: center;
        justify-content: center;
        margin: auto;
    }

    .actual-price,
    .predicted-price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
        padding: 10px;
        border-radius: 5px;
    }

    .label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    & #kpi_title {
        grid-row: 4/6;
        grid-column: 10/13;
        background-color: rgb(98, 98, 98);
        border-radius: 5px;
        color: white;

        & h5 {
            text-align: center;
            margin: 3px;
            font-weight: bolder;
        }

        & p {
            font-size: 12px;
            text-align: center;
            font-style: italic;
            font-weight: normal;
            margin: 0;
        }
    }

    & #kpi_1 {
        grid-row: 6/7;
        grid-column: 10/12;
        border-radius: 5px;
        background-color: rgb(94, 94, 94);
        color: white;

        & h4 {
            font-size: 18px;
        }

        & p {
            font-size: 12px;
            font-style: italic;
            font-weight: light;
            text-align: center;
        }
    }

    & #kpi_1_variable_exp {
        grid-row: 6/7;
        grid-column: 12/13;
        font-size: 50px;
        border-radius: 30px;
        margin: auto;
        height: 100%;
        width: 100%;
        background-color: rgb(94, 94, 94);
    }

    & #kpi_2 {
        grid-row: 7/8;
        grid-column: 10/12;
        border-radius: 5px;
        background-color: rgb(94, 94, 94);
        color: white;

        & h4 {
            font-size: 18px;
        }

        & p {
            font-size: 12px;
            font-style: italic;
            font-weight: light;
            text-align: center;
        }
    }

    & #kpi_2_variable_exp {
        grid-row: 7/8;
        grid-column: 12/13;
        font-size: 50px;
        border-radius: 30px;
        margin: auto;
        height: 100%;
        width: 100%;
    }

    & #kpi_3 {
        grid-row: 8/9;
        grid-column: 10/12;
        border-radius: 5px;
        background-color: rgb(94, 94, 94);
        color: white;

        & h4 {
            font-size: 18px;
        }

        & p {
            font-size: 12px;
            font-style: italic;
            font-weight: light;
            text-align: center;
        }
    }

    & #kpi_3_variable_exp {
        grid-row: 8/9;
        grid-column: 12/13;
        font-size: 50px;
        border-radius: 30px;
        margin: auto;
        height: 100%;
        width: 100%;
    }

    & #kpi_4 {
        grid-row: 9/10;
        grid-column: 10/12;
        border-radius: 5px;
        background-color: rgb(94, 94, 94);
        color: white;

        & h4 {
            font-size: 18px;
        }

        & p {
            font-size: 12px;
            font-style: italic;
            font-weight: light;
            text-align: center;
        }
    }

    & #kpi_4_variable_exp {
        grid-row: 9/10;
        grid-column: 12/13;
        font-size: 50px;
        border-radius: 30px;
        margin: auto;
        height: 100%;
        width: 100%;
    }

    & #kpi_title,
    #kpi_1,
    #kpi_1_variable_exp,
    #kpi_2,
    #kpi_2_variable_exp,
    #kpi_3,
    #kpi_3_variable_exp,
    #kpi_4,
    #kpi_4_variable_exp {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 3px solid black;
        border: 2px solid white;
        padding: 5px;
        color: white;
    }
}