<form id="my-form" class="inputs" method='POST' action="/analyze">
    <div class="input-title">
        <h2>Take a quick look and double check the car details you gave us below.</h2>
        <p>Whenever you're good to go, hit the 'analyze' button and we'll give you our best guess on what your
            car's worth!</p>
    </div>
    <div class="provided_inputs">
        <div>
            <label>Your car's manufacturer</label>
            <div class="provided_inputs-1">{{ form_data.inputs.car_manufacturer }}</div>
        </div>
        <div>
            <label>Your car's model</label>
            <div class="provided_inputs-1">{{ form_data.inputs.car_model }}</div>
        </div>
        <div>
            <label>Your car's type</label>
            <div class="provided_inputs-1">{{ form_data.inputs.car_type|title }}</div>
        </div>
        <div>
            <label>Your car's fuel type</label>
            <div class="provided_inputs-1">{{ form_data.inputs.car_fuel|title }}</div>
        </div>
        <div>
            <label>Your car's number of cylinders</label>
            <div class="provided_inputs-1">{{ form_data.inputs.car_cylinders|title }}</div>
        </div>
        <div>
            <label>Your car's drive</label>
            <div class="provided_inputs-1">{{ form_data.inputs.car_drive|upper }}</div>
        </div>
        <div>
            <label>Your car's transmission</label>
            <div class="provided_inputs-1">{{ form_data.inputs.car_transmission|capitalize }}</div>
        </div>
        <div>
            <label>The color of your car</label>
            <div class="provided_inputs-1">{{ form_data.inputs.car_color|capitalize }}</div>
        </div>
        <div>
            <label>The condition of your car</label>
            <div class="provided_inputs-1">{{ form_data.inputs.car_condition|capitalize }}</div>
        </div>
        <div>
            <label>The price of your car</label>
            <div class="provided_inputs-1">{{ "$%.2f"|format(form_data.inputs.car_value|float) }}</div>
        </div>
        <div>
            <label>The number of miles on your car</label>
            <div class="provided_inputs-1">{{ form_data.inputs.car_miles }}</div>
        </div>
        <div>
            <label>Your car's year</label>
            <div class="provided_inputs-1">{{ form_data.inputs.car_years }}</div>
        </div>
    </div>

    <div class="buttons">
        <button type="submit" id="last-page-btn" name={{ form_data.last_page }} class="btn btn-primary btn-text"
            onclick="handleLast(event)">
            Go Back
        </button>
        <button type="submit" id="next-page-btn" name='analyze' class="btn btn-primary btn-text">
            Analyze
        </button>
    </div>
</form>
<script>
    var data = JSON.parse('{{ form_data | tojson | safe }}');
    console.log(data);
</script>