<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
        integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="header">
        <div class="banner"></div>
        <div class="title">AutoAdvisor</div>
        <div class="catchphrase">Buy smarter, not harder.</div>
        <div class="icon">
            <img src="static/images/car_icon.png" alt="car_icon">
        </div>
    </div>
    <div id="main">
        <form id="my-form" class="inputs">
            <div class="input-title">
                <h2>Let's get started in analyzing the price of your car!</h2>
            </div>
            <button type="submit" id="next-page-btn" name="car_manufacturer" class=" btn btn-primary btn-text"
                onclick="handleNext(event)">
                Get Started
            </button>
        </form>
    </div>
    <!-- <div class=" analysis_container">
        <div class="model-header">
            <h2></h2>
        </div>
        <div class="car_container">
            <img src="static/images/car_figure.png" alt="car_icon">
        </div>
        <div class="actual_price">
            <span class="label">Actual Car Price</span>
            <span class="value"></span>
        </div>
        <div class="predicted_price">
            <span class="label">Predicted Car Price</span>
            <span class="value"></span>
        </div>
        <div class="car_value_assessment">
            <span class="label">Assessment</span>
            <span class="value"></span>
        </div>

        <div class="PD_model">
            <canvas id="plot_mileage_age_curve_exp"></canvas>
        </div>
        <div class="PD_model_explanation">
            <p>Plot Mileage/Age Curve Model Explanation</p>
        </div>
        <div class="residuals_model">
            <canvas id="residuals_model"></canvas>
        </div>
        <div class="residuals_model_explanation">
            <p>Residuals Model Explanation</p>
        </div>
    </div> -->




    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        function handleNext(event) {
            event.preventDefault(); // prevent the form from submitting normally
            var form = document.getElementById("my-form");
            console.log(form)
            // Get the Button value
            var button_name = document.getElementById('next-page-btn').name
            // create an object to hold the form data
            var formData = new FormData(form);
            console.log(formData);
            formData.append('page', button_name)
            formData.append('direction', 'next')

            // log the form data to the console for debugging
            console.log(formData);

            // send the form data to the Flask server using fetch
            fetch('/', {
                method: 'POST',
                body: formData
            })
                .then(response => response.text())
                .then(responseData => {
                    // replace the current form page with the new one
                    document.getElementById('main').innerHTML = responseData;
                })
                .catch(error => console.error(error));
        };
        function handleLast(event) {
            event.preventDefault(); // prevent the form from submitting normally
            var form = document.getElementById("my-form");
            console.log(form)
            // Get the Button value
            var button_name = document.getElementById('last-page-btn').name
            // create an object to hold the form data
            var formData = new FormData(form);
            console.log(formData);
            formData.append('page', button_name)
            formData.append('direction', 'last')


            // log the form data to the console for debugging
            console.log(formData);

            // send the form data to the Flask server using fetch
            fetch('/', {
                method: 'POST',
                body: formData
            })
                .then(response => response.text())
                .then(responseData => {
                    // replace the current form page with the new one
                    document.getElementById('main').innerHTML = responseData;
                })
                .catch(error => console.error(error));
        };
    </script>
</body>

</html>